* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%; 

  text-decoration: none;
  color: black;
}

body{ 
  background-color:#34333E;
  
 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

  min-height: 100dvh;
  width: 100%;

  position: relative; 

  


}



/*header { 
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  

}

#logo { 
  width: 10%;
}

nav { 
align-self: flex-end;
width: 25;
}

nav a { 
padding: 1%;
}

.parentOne { 
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   justify-content: space-around;
   width: 100%;

   margin-bottom: 5%;
}

.child { 
  width: 30%;
}

img { 
width: 100%;
}

#chat { 
  width: 12%;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 2;

}

footer { 
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

h1 { 
  font-size: 4em;
}




}




*/


h1 {
  background-color:yellow;
  opacity: 100%;

  text-align: center;
  text-transform: uppercase;
  
  border: 50px;
  padding: 7px;

  color:rgb(0, 0, 0);
  
}

h2 { 
  background-color: #A9A7B2;
  color: white; 
  text-align: center;
  padding: 10px;
}

.subheaders { 

  text-transform: uppercase;
  text-decoration: none;

  background-color: #8C899B;
  color: black;
 
  padding: 7px;
}

nav{
  text-align: right;
 

  padding-top: 30px;
  padding-bottom: 30px;
  
  font-size: 20px;

}

footer {
  background-color: #34333E;
  border: 20px;
  padding: 7px;

  text-transform: uppercase;
  text-align: center; 
  font-size:5%;
}

img{ 
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  display: block;

  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
}




p {
  color: rgb(255, 255, 255);
  
  text-transform: uppercase;

  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;

  font-size: 50px;
  
}


.hero-text { 
  position: absolute;
  text-align: center;
  padding-right: 35%;
  padding-left: 35%;
  padding-top: 15%;
  padding-bottom: 15%;
  

  z-index: 1;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  

}

a { 
  color: white;
  padding-bottom: 2%;
}




@media screen and (max-width: 600px) { 

  * { 
    font-size: 75%;
  }

  header { 
    flex-direction: column; 
    align-content: center; 

  }

  #logo { 
    width: 25%;

  }

  .parentOne { 
    flex-direction: column;

  }

  .child { 
    width: 100%;

  }



  
}