* {
  margin: 0;
  padding: 0;

  font-size: 100%;

  text-decoration: none;
  color: black;
  
}

body{ 
  background-color:#34333E;
  
 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    min-height: 100dvh;
    width: 100%;
    position: relative;

}

h1 {
  background-color:#A9A7B2;

  text-align: center;
  text-transform: uppercase;
  
  border: 50px;
  padding: 7px;
  font-size: 30px;
  color: white;
  
  font-family: "Kirang Haerang", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2 { 
  background-color: #A9A7B2;
  color: white; 
  text-align: center;
  padding: 10px;
  
}

header { 
  background-color: #272323;
  margin-bottom: 10px;
  display: flex;
  align-items: center; 
  padding: 10px 20px;

  font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
  
}

#logo { 
  width: 6%;
}

#middle { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  
  flex-grow: 1; 
  text-align: center; 
  font-size: 3rem;
  color: white; 
  background-color: transparent; 

  text-shadow: 2px 2px 5px rgb(255, 233, 39);
}

#middle .small-logo { 
  position: absolute;
  top: -2px;
  left: 53%;
  width: 30px;
  height: auto;
  transform: translateX(-40%) rotate(-45deg);
  margin-bottom: 3px;
}
#middle .highlight { 
  position: relative;
}

#middle:hover { 
  background-color: #272323;
  color:rgb(58, 37, 102); 
  cursor:pointer; 
  text-shadow: 2px 2px 5px white;
}
.subheaders { 

  text-transform: uppercase;
  text-decoration: none;

  background-color:#8C899B;
  color: black;
  font-size: 30px;
  padding: 7px;
}

nav{
  display: flex; 
  gap: 20px;
  
 }
 
 header a:hover{ 
   background-color: #A9A7B2;
   color: white; 
   transform: scale(1.05);
   cursor:pointer; 
 }


footer {
  background-color: #272323;
  border: 20px;
  padding: 7px;

  text-transform: uppercase;
  text-align: center; 
  font-size:5%;
  color: white;
}

footer p { 
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

footer a { 
  color: white;
  font-size: 13px;
  text-decoration: underline;
  padding-bottom: 5px; 

}

footer a:hover { 
  background-color: #272323;
  color: rgb(84, 37, 203); 
  transform: scale(1.05);
  cursor:pointer;
}

img { 
  
  margin-left: auto;
  margin-right: auto;
  width:50%;
  display: block;

  margin-top: 10px;

}



a { 
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-size: 20px;
  color: white;
  text-decoration: underline;
}

p {
  color: white;
  


  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;

  font-size: 30px;
  
  
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

article { 
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #272323;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

article h2 { 
  margin-top: 10px;
  font-size: 18px;
  text-align: center;

}
article p { 
  font-size: 25px;
  text-align: justify;
  margin-top: 10px;
}




