* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: black;
}

body{ 
  background-color:#34333E;
  
 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

h1 {
  background-color:#A9A7B2;

  text-align: center;
  text-transform: uppercase;
  
  border: 50px;
  padding: 7px;

  color:white;
  
}
h2 { 
  background-color: #A9A7B2;
  color: white; 
  text-align: center;
  padding: 10px;
}

.subheaders { 

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color:#8C899B;
  color: black;
  
  padding: 7px;
}

nav{
  text-align: right;
  

  padding-top: 30px;
  padding-bottom: 30px;
  
  font-size: 20px;

}

footer {
  background-color: #34333E;
  border: 20px;
  padding: 7px;

  text-transform: uppercase;
  text-align: center; 
  font-size:5%;

}

img{ 
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  display: block;

  margin-top: 10px;
  height: 30%;
  width: 30%;
}



p {
  color: white;


  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;

  font-size: 20px;
  
}

h3 { 
  color: white;
  font-size: 30px;
  padding-bottom: 15px;
  }
  
  
  a { 
    color: white;
    padding-bottom: 2%;
  }
  


